@font-face {
	font-family: 'Roboto', sans-serif;
	src: url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
}

@font-face {
	font-family: 'Montserrat', sans-serif;
	src: url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
}

/* ---------- BODY ---------- */

body, html {
	margin: 0;
	padding: 0;
}

body {
	background-color: whitesmoke;
}

/* ---------- HEADER ---------- */

header {
	width: 100%;
	height: 110px;
	position: fixed;
	display: block;
	top: 0;
	background-image: url("../imgs/wall3.png");
	background-size: cover;
	list-style: none;
	z-index: 800;
}

.bdd {
	position: absolute;
	top: 100px;
}

/* *** MENU BAR *** */

nav
{
	margin: 0;
	width: auto;
	text-align: center;
}

.btn-navigation {
	position: absolute;
	left: 50px;
	cursor: pointer;
	color: white;
	font-size: 40px;
	line-height: 110px;
	margin: 0;
	z-index: 1000;
	transition: transform .6s ease-in-out;
	-webkit-transition: transform .6s ease-in-out;
}

.search {
	position: absolute;
	top: 20px;
	left: 195px;
	height: 50px;
	width: 335px;
	font-size: 15px;
	padding-left: 55px;
	margin: 0;
	outline: 0;
	color: #5B5B5B;
	border: none;
	background-color: #fcc368;
	border-radius: 8px;
	background-image: url("../imgs/research.png");
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: left 17px top 13px;
}

.connexion_btn {
	position: absolute;
	top: 30px;
	right: 195px;
	height: 50px;
	width: 300px;
	margin: 0;
	outline: 0;
	color: white;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: 600;
	border: none;
	background-color: #6d73a7;
	border-radius: 8px;
	cursor: pointer;
}

.search::placeholder{
	color: #5B5B5B;
}


.logo-img {
	margin-top: 6px;
	height: 100px;
	text-align: center;
}


/* *** BURGER MENU *** */

.navigation {
	position: fixed;
	float: left;
	top: 0;
	left: 0;
	z-index: 800;
	background-color: #fcc368;
	width: 270px;
	height: 100%;
	transition: transform .6s ease-in-out;
	-webkit-transition: transform .6s ease-in-out;
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
}

.navigation.isOpen{
	transform: translateX(0%);
	-webkit-transform: translateX(0%);
}

.bgmenuSectionLiens ul{
	margin-top: 120px;
	list-style: none;
	padding: 0;
}

.bgmenuSectionLiens li {
	font-size: 19px;
	margin-top: 3px;
	text-align: left;
}

.bgmenuSectionLiens p {
	display: inline-block;
	margin-top: 3px;
	line-height: 40px;
}

.bgmenuSectionLiens a {
	display: inline-block;
	line-height: 40px;
	font-family: "Roboto", sans-serif;
	color: black;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	width: 220px;
	height: 40px;
	padding-left: 50px;
}

.bgmenuSectionLiens a:hover{
	background-color: #764a68;
	color: white;
}

.banniere_liste {
	margin-top: 40px;
	margin-bottom: 20px;
	height: 150px;
	width: 1600px;
	text-align: center;
}

.banniere_liste img {
	height: 100px;
}


.login-page {
	width: 360px;
	padding: 15% 0 0;
	margin: auto;
}

.banniere_liste {
	position: relative;
	max-width: 500px;
	margin: 150px auto 10px;
	padding: 45px;
	text-align: center;
}

/*.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 390px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	font-family: "Roboto", sans-serif;
}

.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 17px;
}
.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #58c0be;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
	background: #469393;
}
.form .message {
	margin: 20px 0 0;
	color: #7f7f7f;
	font-size: 17px;
}
.form .message a {
	color: #64b94e;
	text-decoration: none;
}
.form .register-form {
	display: none;
}
.container {
	position: relative;
	z-index: 1;
	max-width: 300px;
	margin: 0 auto;
}
.container:before, .container:after {
	content: "";
	display: block;
	clear: both;
}
.container .info {
	margin: 50px auto;
	text-align: center;
}
.container .info h1 {
	margin: 0 0 15px;
	padding: 0;
	font-size: 36px;
	font-weight: 300;
	color: #1a1a1a;
}
.container .info span {
	color: #4d4d4d;
	font-size: 12px;
}
.container .info span a {
	color: #000000;
	text-decoration: none;
}
.container .info span .fa {
	color: #EF3B3A;
}*/

.main-container {
	width: 100%;
	height: 550px;
	margin-top: 200px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.espace-connexion {
	width: 30%;
	height: 550px;
	margin-right: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	background-color: white;
	font-family: "Roboto", sans-serif;
}

.espace-connexion p {
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	color: #1b1b1b;
	margin-top: 90px;
}

.espace-connexion input {
	display: block;
	margin-bottom: 20px;
	width: 240px;
	height: 30px;
	font-size: 17px;
	outline: 0;
}

.input-connexion::placeholder {
	font-size: 17px;
}

.input-connexion {
	font-size: 19px;
	border: 0;
	background-color: #e8f0fe;
	padding-left: 5px;
}

.espace-connexion input:nth-child(3) {
	background-color: #58c0be;
	border: 0;
	font-weight: 600;
	color: white;
}

.espace-connexion input:nth-child(3):hover {
	background-color: #469393;
	transition: 1s;
	color: white;
}

.espace-connexion input:first-child {
	margin-top: 30px;
}

.espace-inscription {
	width: 30%;
	height: 550px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	background-color: white;
	font-family: "Roboto", sans-serif;
}

.espace-inscription input {
	display: block;
	margin-bottom: 20px;
	width: 240px;
	height: 30px;
	font-size: 17px;
	outline: 0;
}

.input-inscription {
	font-size: 19px;
	border: 0;
	background-color: #e8f0fe;
	padding-left: 5px;
}

.espace-inscription input:nth-child(6) {
	background-color: #58c0be;
	border: 0;
	font-weight: 600;
	color: white;
}

.espace-inscription input:nth-child(6):hover {
	background-color: #469393;
	transition: 1s;
	color: white;
}

.espace-inscription p {
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	color: #1b1b1b;
	margin-top: 90px;
}