/*#region FONTFACE*/

@font-face {
	font-family: 'Roboto', sans-serif;
	src: url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
}

@font-face {
	font-family: 'Montserrat', sans-serif;
	src: url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
}

@font-face {
	font-family: 'Rubik', sans-serif;
	src: url('https://fonts.googleapis.com/css?family=Rubik:400,500,700,900&display=swap');
}

/*#endregion RegionName*/

/*#region BODY*/
/* ---------- BODY ---------- */

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-color: whitesmoke;
}
/*#endregion RegionName*/

/*#region HEADER*/

/* ---------- HEADER ---------- */

header {
	width: 100%;
	height: 110px;
	position: fixed;
	display: block;
	top: 0;
	background-image: url("imgs/wall3.png");
	background-size: cover;
	list-style: none;
	z-index: 800;
}

.bdd {
	position: absolute;
	top: 100px;
}


.btn-navigation {
	position: absolute;
	left: 50px;
	cursor: pointer;
	color: white;
	font-size: 40px;
	line-height: 110px;
	margin: 0;
	z-index: 1000;
	transition: transform .6s ease-in-out;
	-webkit-transition: transform .6s ease-in-out;
}

.search {
	position: absolute;
	top: 20px;
	left: 195px;
	height: 50px;
	width: 335px;
	font-size: 15px;
	padding-left: 55px;
	margin: 0;
	outline: 0;
	color: #5B5B5B;
	border: none;
	background-color: #fcc368;
	border-radius: 8px;
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: left 17px top 13px;
}

.connexion_btn {
	position: absolute;
	top: 30px;
	right: 50px;
	height: 50px;
	width: 50px;
	margin: 0;
	outline: 0;
	color: white;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: 600;
	border: none;
	background-color: #784d69;
	border-radius: 8px;
	cursor: pointer;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.deconnexion_btn {
	position: absolute;
	top: 30px;
	right: 120px;
	height: 50px;
	width: 50px;
	margin: 0;
	outline: 0;
	color: white;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: 600;
	border: none;
	background-color: #f9aa56;
	border-radius: 8px;
	cursor: pointer;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.logo-img {
	margin-top: 6px;
	height: 100px;
	text-align: center;
}

/*#endregion RegionName*/

/*#region MENU BAR*/

/* *** MENU BAR *** */

nav
{
	margin: 0;
	width: auto;
	text-align: center;
}

/*#endregion RegionName*/

/*#region BURGER MENU SANS BOOTSTRAP*/

/* *** BURGER MENU SANS BOOTSRAP *** */

.navigation {
	position: fixed;
	float: left;
	top: 0;
	left: 0;
	z-index: 800;
	background-color: #fcc368;
	width: 250px;
	height: 100%;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
	transition: transform .6s ease-in-out;
	-webkit-transition: transform .6s ease-in-out;
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
}

.navigation.isOpen{
	transform: translateX(0%);
	-webkit-transform: translateX(0%);
}

.bgmenuSectionLiens-sans-bootsrap ul{
	margin-top: 120px;
	list-style: none;
	padding: 0;
}

.bgmenuSectionLiens-sans-bootsrap li {
	font-size: 17px;
	margin-top: 3px;
	text-align: left;
	letter-spacing: 1px;
}

.bgmenuSectionLiens-sans-bootsrap p {
	display: inline-block;
	margin-top: 3px;
	line-height: 40px;
}

.bgmenuSectionLiens-sans-bootsrap a {
	display: inline-block;
	line-height: 40px;
	font-family: "Roboto", sans-serif;
	color: black;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	width: 200px!important;
	height: 40px;
	padding-left: 50px!important;
}

.bgmenuSectionLiens-sans-bootsrap li a:hover{
	background-color: #764a68;
	color: white;
}

.bgmenuSectionLiens-sans-bootsrap a:hover{
	color: white;
}

#displayNone-sans-bootsrap {
	display: none;
}

#displayNone-sans-bootsrap a {
	padding-left: 70px!important;
	width: 180px!important;
}

/*#endregion RegionName*/

/*#region BURGER MENU*/

/* *** BURGER MENU *** */

.navigation {
	position: fixed;
	float: left;
	top: 0;
	left: 0;
	z-index: 800;
	background-color: #fcc368;
	width: 250px;
	height: 100%;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
	transition: transform .6s ease-in-out;
	-webkit-transition: transform .6s ease-in-out;
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
}

.isOpen{
	transform: translateX(0%);
	-webkit-transform: translateX(0%);
}

.bgmenuSectionLiens ul{
	margin-top: 120px;
	list-style: none;
	padding: 0;
}

.bgmenuSectionLiens li {
	font-size: 17px;
	margin-top: 3px;
	text-align: left;
	letter-spacing: 1px;
}

.bgmenuSectionLiens p {
	display: inline-block;
	margin-top: 3px;
	line-height: 40px;
}

.bgmenuSectionLiens a {
	display: inline-block;
	line-height: 40px;
	font-family: "Roboto", sans-serif;
	color: black;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	width: 250px!important;
	height: 40px;
	padding-left: 50px!important;
}

.bgmenuSectionLiens li a:hover{
	background-color: #764a68;
	color: white;
}

.bgmenuSectionLiens a:hover{
	color: white;
}

#displayNone {
	display: none;
}

#displayNone a {
	padding-left: 70px!important;
}

/*#endregion RegionName*/

/*#region HOME*/

/* *** HOME *** */

.container-home {
	height: 100%;
}

.banniere_liste {
	margin-top: 40px;
	margin-bottom: 20px;
	height: 150px;
	width: 1350px;
	text-align: center;
}

.banniere_liste img {
	height: 80px;
}

.first-container {
	margin-top: 170px;
	width: 100%;
	height: 400px;
	margin-bottom: 50px;
}

.container-video {
	display: flex;
	float: left;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 358px;
	width: 50%;
	background-image: url("imgs/tableau.png");
	background-size: 600px;
	background-repeat: no-repeat;
	background-position: center;
}

.container-texte {
	display: flex;
	float: left;
	flex-direction: column;
	align-items: center;
	height: 358px;
	width: 50%;
}

.container-texte img {
	width: 600px;
	margin: 0;
}

.second-container {
	width: 100%;
	height: 200px;
	display: block;
	align-items: center;
}

.container-steam {
	display: flex;
	float: left;
	flex-direction: column;
	align-items: center;
	height: 200px;
	width: 50%;
}

.container-steam img {
	cursor: pointer;
}

.container-tempedie {
	display: flex;
	float: left;
	flex-direction: column;
	align-items: center;
	height: 200px;
	width: 50%;
}

.container-tempedie img {
	cursor: pointer;
}

.container-steam img, .container-tempedie img {
	width: 500px;
}

/*#endregion RegionName*/

/*#region TEMPEDIE*/

/* *** TEMPEDIE *** */

.search::placeholder{
	color: #5B5B5B;
}

.banniere_liste {
	margin-top: 40px;
	margin-bottom: 20px;
	height: 150px;
	width: 100%;
	text-align: center;
}

.banniere_liste img {
	height: 100px;
}

.container {
	margin-top: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
	width: 100%;
}

.card_titres {
	display: flex;
	flex-direction: row;
	width: 1300px;
	height: 65px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
	align-items: center;
	text-align: center;
	justify-content: center;
}

.btn_filtre {
	height: 50px;
	width: 258px;
	font-size: 20px;
	margin: 0;
	outline: 0;
	border: none;
	border-radius: 8px;
	font-weight: 600;
	color: black;
	cursor: pointer;
}

#btn_image {
	height: 50px;
	width: 258px;
	font-size: 20px;
	margin: 0;
	outline: 0;
	border: none;
	border-radius: 8px;
	font-weight: 600;
	color: black;
	cursor: auto;
	padding: 0;
}

.espace-form {
	display: flex;
	flex-direction: row;
	width: 1300px;
	height: 50px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.formulaire-recherche input {
	height: 50px;
	width: 150px;
	font-size: 17px;
	margin: 0;
	outline: 0;
	border: none;
	background-color: #fcc368;
	color: black;
	margin-right: 10px;
	margin-bottom: 20px;
}

.formulaire-recherche input:first-child {
	height: 50px;
	width: 250px;
	font-size: 15px;
	padding-left: 55px;
	margin: 0;
	outline: 0;
	color: #5B5B5B;
	border: none;
	background-color: #fcc368;
	background-image: url("imgs/research.png");
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: left 17px top 13px;
	margin-right: 10px;
}

.btn-formulaire-recherche:hover {
	background-color: #764a68;
	color:white;
	transition: 1s;
}

.ui-helper-hidden-accessible {
	display:none;
}

.ui-menu {
	background: #fcce82;
	height:auto;
	width: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.ui-menu .ui-menu-item{
	font-family: "Roboto", sans-serif;
	list-style: none;
	cursor: pointer;
	font-size: 17px;
	margin-top: 4px;
}

.ui-menu-item:hover {
	color: #764a68;
	font-weight: 600;
}

.card {
	display: flex;
	flex-direction: row;
	width: 1300px;
	height: 150px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	margin-top: 40px;
	cursor: pointer;
}

.card:hover{
	background-color: #eceff1;
	color: white;
	transition: 0.5s;
}

.card div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 320px;
	height: 145px;
	line-height: 100px;
	font-weight: 600;
	letter-spacing: 2px;
	margin: 0;
}

.type_Eau, .type_Cristal, .type_Nature, .type_Neutre, .type_Toxic, .type_Vent, .type_Terre, .type_Electrique, .type_Mental, .type_Mêlée, .type_Electrique, .type_Feu, .type_Numerique {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 125px;
	height: 16px;
	line-height: 16px;
	color: white;
	border-color: transparent;
	border-style: solid;
	border-width: 8px;
	border-image-slice: 8;
	border-image-outset: 0.5;
	border-image-repeat: round;
	font-weight: 500;
	font-size: 19px;
	letter-spacing: 2px;
	font-family: 'Rubik', sans-serif;
	text-shadow:
			black 1px 1px 1px,
			black -1px 1px 1px,
			black -1px -1px 1px,
			black 1px -1px 1px;
}

.type_Eau{
	background-color: #45cbff;
	border-image-source: url(imgs/bordure-eau.png);
}

.type_Toxic {
	background-color: #5c565c;
	border-image-source: url(imgs/bordure-toxic.png);
}

.type_Nature {
	background-color: #adde77;
	border-image-source: url(imgs/bordure-nature.png);
}

.type_Vent {
	background-color: #64cc9c;
	border-image-source: url(imgs/bordure-vent.png);
}

.type_Terre {
	background-color: #9d6954;
	border-image-source: url(imgs/bordure-terre.png);
}

.type_Neutre {
	background: #bdbdbd;
	border-image-source: url(imgs/bordure-neutre.png);
}

.type_Cristal {
	background-color: #ea4a68;
	border-image-source: url(imgs/bordure-cristal.png);
}

.type_Electrique {
	background: #fdd835;
	border-image-source: url(imgs/bordure-electrique.png);
}

.type_Mêlée {
	background: #f89261;
	border-image-source: url(imgs/bordure-melee.png);
}

.type_Feu {
	background: #e85c4e;
	border-image-source: url(imgs/bordure-feu.png);
}

.type_Numerique {
	background: #7A8B93;
	border-image-source: url(imgs/bordure-numerique.png);
}

.type_Mental {
	background: rgb(103,57,87);
	border-image-source: url(imgs/bordure-mental.png);
}

.tempedie_espace_numero, .tempedie_espace_nom {
	color: #373737;
}

.tempedie_espace_image {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tempedie_espace_image img {
	height: 90px;
}

/*#endregion RegionName*/

/*#region FICHE TEMTEM*/

/* *** FICHE TEMTEM *** */

.container-fiche {
	margin-top: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
	width: 100%;
}

.card-fiche {
	display: flex;
	flex-direction: row;
	width: 1350px;
	height: 360px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	margin-top: 40px;
	background-image: url("imgs/wall_card3.png");
	background-size: cover;
	background-position: -1px;
}

.fiche_espace_image {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 350px;
	height: 360px;
	margin-left: 70px;
	margin-right: 50px;
}

.fiche_espace_image img {
	height: 190px;
}

.fiche_espace_description {
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
	height: 360px;
}

.numero-fiche {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 70px;
	width: 200px;
	font-size: 20px;
	letter-spacing: 1px;
}

.numero p:first-child {
	margin-left: 30px;
}

.numero p:nth-child(2) {
	margin-left: 15px;
	font-weight: 600;
}

.espace_nom_cri {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 70px;
	width: 500px;
}

.espace_numero_nom {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 500px;
}

.nom-fiche {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 70px;
	width: 250px;
	font-size: 20px;
	letter-spacing: 1px;

}

.nom-fiche p:first-child {
	margin-left: 30px;
	margin-bottom: 0;
	margin-top: 0;
}

.nom-fiche p:nth-child(2) {
	margin-left: 15px;
	font-weight: 600;
	margin-bottom: 0;
	margin-top: 0;
}

.cri {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 70px;
	width: 250px;
	font-size: 20px;
	letter-spacing: 1px;
}

.cri p:first-child {
	margin-left: 30px;
	margin-right: 15px;
}

.type-fiche {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 90px;
	width: 500px;
}

.type-fiche p:first-child {
	margin-right: 30px;
	margin-left: 30px;
}

.trait {
	display: block;
	align-items: center;
	height: 100px;
	width: 500px;
	font-size: 20px;
	letter-spacing: 1px;
}

.trait p:first-child {
	margin-bottom: 0;
	margin-left: 30px;
}

.liste_traits {
	display: flex;
	flex-direction: row;
	font-weight: 600;
}

.liste_traits p:first-child{
	margin-right: 45px;
}

.fiche_espace_stats1 {
	font-family: "Roboto", sans-serif;
	display: block;
	width: 300px;
	height: 360px;
	margin-left: 50px;
}

.fiche_espace_stats1 p:first-child {
	margin-top: 35px;
}

.fiche_espace_stats1 p {
	margin-bottom: 3px;
	margin-left: 10px;
	font-weight: 600;
}

.fiche_espace_stats2 {
	font-family: "Roboto", sans-serif;
	display: block;
	width: 200px;
	height: 360px;
	font-weight: 600;
	-webkit-text-stroke-color: #616161;
}

.stats-rouge {
	color: #e25948;

}

.stats-vert {
	color: #5ba659;
}

.stats-orange {
	color: #ea992e;
}

.fiche_espace_stats2 p:first-child {
	margin-top: 35px;
}

.banniere_capacités {
	height: 150px;
	width: 100%;
	margin-top: 80px;
	text-align: center;
}

.banniere_capacités img {
	height: 90px;
}

.titres_attaques {
	height: 80px;
	width: 1350px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-family: "Roboto", sans-serif;
	background-color: #e2eeee;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
	margin-top: 15px;
	font-weight: 600;
	font-size: 18px;
}

.titre_obtention, .obtention {
	width: 125px;
	text-align: center;
}

.titre_niveau, .niveau {
	width: 125px;
	text-align: center;
}

.titre_nom_attaque, .nom_attaque {
	width: 240px;
	text-align: center;
}

.titre_type, .type_attaque {
	width: 150px;
	text-align: center;
}

.titre_categorie, .categorie{
	width: 150px;
	text-align: center;
}

.titre_puissance, .puissance {
	width: 150px;
	text-align: center;
}

.titre_endurance, .endurance {
	width: 150px;
	text-align: center;
}

.titre_priorité, .priorité {
	width: 150px;
	text-align: center;
}

.titre_chargement, .chargement {
	width: 150px;
	text-align: center;
}

.titre_synergie, .synergie {
	width: 150px;
	text-align: center;
}

.attaque {
	display: block;
	width: 1350px;
	height: auto;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	margin-top: 40px;
	font-weight: 600;
}

.attaque_caracteristiques {
	height: 80px;
	width: 1350px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
}

.icone_type {
	height: 40px;
}

.lecteur{
	outline: none;
}

.attaque_description {
	height: 60px;
	width: 1350px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	margin-bottom: 10px;
}

.description {
	text-align: center;
	font-weight: 500;
	color: #373737;
	padding-left: 10px;
	padding-right: 10px;
}

/*#endregion RegionName*/

/*#region CONNEXION*/

/* *** CONNEXION *** */

.container-profil {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.espace-connexion {
	width: 30%;
	height: 550px;
	margin-right: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	background-color: white;
	font-family: "Roboto", sans-serif;
}

.espace-connexion p {
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	color: #1b1b1b;
	margin-top: 90px;
}

.espace-connexion input {
	display: block;
	margin-bottom: 20px;
	width: 240px;
	height: 30px;
	font-size: 17px;
	outline: 0;
}

.espace-connexion input:hover{
	box-shadow: 0 0 2px 2px #58c0be;
	transition: 1s;
}

.input-connexion::placeholder {
	font-size: 17px;
}

.input-connexion {
	font-size: 19px;
	border: 0;
	background-color: #e8f0fe;
	padding-left: 5px;
}

.espace-connexion input:nth-child(3) {
	background-color: #58c0be;
	border: 0;
	font-weight: 600;
	color: white;
	width: 246px;
}

.espace-connexion input:nth-child(3):hover {
	background-color: #469393;
	transition: 1s;
	color: white;
}

.espace-connexion input:first-child {
	margin-top: 30px;
}

.espace-inscription {
	width: 30%;
	height: 550px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	background-color: white;
	font-family: "Roboto", sans-serif;
}

.espace-inscription input {
	display: block;
	margin-bottom: 20px;
	width: 240px;
	height: 30px;
	font-size: 17px;
	outline: 0;
}
.espace-inscription input:hover{
	box-shadow: 0 0 2px 2px #58c0be;
	transition: 1s;
}

.input-inscription {
	font-size: 19px;
	border: 0;
	background-color: #e8f0fe;
	padding-left: 5px;
}

.espace-inscription input:nth-child(6) {
	background-color: #58c0be;
	border: 0;
	font-weight: 600;
	color: white;
	width: 246px;
}

.espace-inscription input:nth-child(6):hover {
	background-color: #469393;
	transition: 1s;
	color: white;
}

.espace-inscription p {
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	color: #1b1b1b;
	margin-top: 90px;
}

.espace-profil {
	width: 55%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	background-color: white;
	font-family: "Roboto", sans-serif;
	padding-top: 20px;
	padding-bottom: 20px;
}

.espace-profil h2 {
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 30px;
}

.titre-section-profil {
	width: 100%;

}
.profil-infos p, .profil-titres p  {
	font-weight: 500;
	font-size: 17px;
	padding-left: 10px;
}

.profil-infos, .profil-titres  {
	display: block;
	height: 150px;
}

.profil-titres {
	margin-right: 35px;
}

.profil-titres p {
	font-weight: 600;
}

.profil-espace-infos {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

/*#endregion RegionName*/

/*#region A PROPOS*/

/* *** A PROPOS *** */

.banniere_apropos {
	margin-top: 40px;
	margin-bottom: 20px;
	height: 150px;
	width: 1350px;
	text-align: center;
}

.banniere_apropos img {
	height: 80px;
}

.container-apropos {
	margin-top: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}

.container-apropos p {
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	font-size: 35px;
	letter-spacing: 1px;
	color: #383a3a;
}

.container-apropos p:first-child {
	text-transform: uppercase;
}

/*#endregion RegionName*/

/*#region ATTAQUES*/

/* *** ATTAQUES *** */

.container-attaques {
	height: auto;
	margin-top: 110px;
}

.espace-bannière-attaques {
	height: auto;
	float:none;
	margin-top: 60px;
	margin-bottom: 90px;
}

.espace-bannière-attaques img {
	width: 500px;
}

.espace-form-attaques {
	height: 50px;
	margin-bottom: 20px;
	padding: 0;
}

.formulaire-recherche-attaques input {
	height: 50px;
	width: 150px;
	font-size: 17px;
	margin: 0;
	outline: 0;
	border: none;
	background-color: #fcc368;
	color: black;
	margin-right: 10px;
	margin-bottom: 20px;
}

.formulaire-recherche-attaques input:first-child {
	height: 50px;
	width: 250px;
	font-size: 15px;
	padding-left: 55px;
	margin: 0;
	outline: 0;
	color: #5B5B5B;
	border: none;
	background-color: #fcc368;
	background-image: url("imgs/research.png");
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: left 17px top 13px;
	margin-right: 10px;
}

.btn-formulaire-recherche-attaques:hover {
	background-color: #764a68;
	color:white;
	transition: 1s;
}

.ui-helper-hidden-accessible {
	display:none;
}

.ui-menu {
	background: #fcce82;
	height:auto;
	width: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.ui-menu .ui-menu-item{
	font-family: "Roboto", sans-serif;
	list-style: none;
	cursor: pointer;
	font-size: 17px;
	margin-top: 4px;
}

.ui-menu-item:hover {
	color: #764a68;
	font-weight: 600;
}

.carte-titres-attaques {
	background-color: #e2eeee;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
	font-family: "Roboto", sans-serif;
	margin-bottom: 20px;
}

.carte-titres-attaques div {
	padding: 0;
}

.carte-titres-attaques input {
	height: 65px;
	line-height: 65px;
	font-size: 18px;
	font-weight: 600;
	background-color: #e2eeee;
	border: none;
	padding: 0;
	width: auto;
	outline: 0;
}

.carte-attaque {
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 7px;
	cursor: pointer;
	min-height: 65px;
}

/*.carte-attaque:hover {
	background-color: #f3ffff;
	transition: 0.5s;
}*/

.down {
	color: #81c784;
}

.up {
	color: #e57373;
}

.carte-attaque div {
	vertical-align: center;
	line-height: 65px;
}

.carte-attaque div p {
	margin-bottom: 0;
}

.carte-attaque img {
	height: 32px;
}

.texte-attaque-endurance {
	border-radius: 50%;
	background-color: #00b3b3;
	background-size: 30px;
	line-height: 39px;
	width: 39px;
	margin-left: 20px;
	color: white;
	font-size: 17px;
	text-shadow:
			black 1px 1px 1px,
			black -1px 1px 1px,
			black -1px -1px 1px,
			black 1px -1px 1px;
}

.puissance-rouge {
	color: #e25948;
}

.puissance-vert {
	color: #5ba659;
}

.puissance-orange {
	color: #ea992e;
}

.carte-attaque-description {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	margin-bottom: 7px;
	display: none;
	padding-bottom: 20px;
	cursor: auto;
}

.attaque-description {
	height: auto;
	border: 1px #a4a4a4 solid;
	border-radius: 5px;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 20px;
	margin-top: 20px;
}

.attaque-description p:first-child {
	font-weight: 600;
	width: 100%;
	line-height: 30px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
	letter-spacing: 1px;
}

.attaque-description p:nth-child(2) {
	width: 100%;
	line-height: 22px;
	text-align: justify;
	font-weight: 500;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}

.attaque-temtem {
	border-radius: 5px;
	line-height: 65px;
	font-weight: 500;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 10px;
	border: 1px #a4a4a4 solid;
}

.attaque-temtem p:first-child {
	font-weight: 600;
	width: 100%;
	line-height: 30px;
	text-align: center;
	margin-bottom: 20px;
	letter-spacing: 1px;
	padding-top: 10px;
}

.attaque-description p:nth-child(2) {
	padding-bottom: 10px;
	text-align: center;
}

.temtem-icon-attaque {
	border: 1px #e2eeee solid;
	border-radius: 180px;
	background-color: white;
	min-height: 50px;
	cursor: pointer;
	outline: 0;
	margin-right: 30px;
}

.temtem-icon-attaque:hover {
	opacity: 0.5;
	transition: 0.5s;
}


/*#endregion RegionName*/

/*#region TRAITS*/

.container-traits {
	height: auto;
	margin-top: 110px;
}

.espace-bannière-traits {
	height: auto;
	float:none;
	margin-top: 60px;
	margin-bottom: 90px;
}

.espace-bannière-traits img {
	width: 500px;
}

.espace-form-traits {
	height: 50px;
	margin-bottom: 20px;
	padding: 0;
}

.formulaire-recherche-traits input {
	height: 50px;
	width: 150px;
	font-size: 17px;
	margin: 0;
	outline: 0;
	border: none;
	background-color: #fcc368;
	color: black;
	margin-right: 10px;
	margin-bottom: 20px;
}

.formulaire-recherche-traits input:first-child {
	height: 50px;
	width: 250px;
	font-size: 15px;
	padding-left: 55px;
	margin: 0;
	outline: 0;
	color: #5B5B5B;
	border: none;
	background-color: #fcc368;
	background-image: url("imgs/research.png");
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: left 17px top 13px;
	margin-right: 10px;
}

.btn-formulaire-recherche-traits:hover {
	background-color: #764a68;
	color:white;
	transition: 1s;
}

.ui-helper-hidden-accessible {
	display:none;
}

.ui-menu {
	background: #fcce82;
	height:auto;
	width: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.ui-menu .ui-menu-item{
	font-family: "Roboto", sans-serif;
	list-style: none;
	cursor: pointer;
	font-size: 17px;
	margin-top: 4px;
}

.ui-menu-item:hover {
	color: #764a68;
	font-weight: 600;
}

.carte-titres-traits {
	background-color: #e2eeee;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
	font-family: "Roboto", sans-serif;
	margin-bottom: 20px;
}

.carte-titres-traits div {
	padding: 0;
}

.carte-titres-traits input {
	height: 65px;
	line-height: 65px;
	font-size: 18px;
	font-weight: 600;
	background-color: #e2eeee;
	border: none;
	padding: 0;
	width: auto;
	outline: 0;
}

.carte-traits {
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 7px;
	cursor: pointer;
	min-height: 75px;
}

.down {
	color: #81c784;
}

.up {
	color: #e57373;
}

.traits-description {
	font-weight: 500;
}

.traits-description p {
	margin-top: 16px;
	min-height: 45px;
}

.carte-traits-description {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	margin-bottom: 7px;
	display: none;
	padding-bottom: 20px;
	cursor: auto;
}

.traits-temtem {
	border-radius: 5px;
	line-height: 65px;
	font-weight: 500;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 10px;
	border: 1px #a4a4a4 solid;
}

.traits-temtem p:first-child {
	font-weight: 600;
	width: 100%;
	line-height: 30px;
	text-align: center;
	margin-top: 10px;
	letter-spacing: 1px;
	padding-top: 10px;
}

.traits-description p:nth-child(2) {
	padding-bottom: 10px;
	text-align: center;
}

.temtem-icon-traits {
	border: 1px #e2eeee solid;
	border-radius: 180px;
	background-color: white;
	max-height: 50px;
	cursor: pointer;
	outline: 0;
	margin-right: 30px;
}

.temtem-icon-traits:hover {
	opacity: 0.5;
	transition: 0.5s;
}

/*#endregion RegionName*/